/* Project Card */
.project-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 15px;
  padding: 15px 15px;
  border-bottom: 1px solid #000000;
  background: rgba(42, 45, 58, 0.9);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
}

.project-card .thumbnail {
  width: 150px;
  object-fit: cover;
  flex-shrink: 0;
}

.project-card .content {
  flex: 1;
}

.project-card h3 {
  margin: 0 0 5px 0;
  font-size: 20px;
  color: #FFB84D;
}

.project-card p {
  margin: 0;
  color: #ebe2e2;
  line-height: 1.5;
  font-size: 15px;
}

.categories {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 10px;
}

.category-tag {
  background: linear-gradient(135deg, #FFB84D 0%, #FF9F1C 100%);
  color: #000000;
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 10px;
  font-weight: 600;
}

.release-date {
  padding-top: 25px;
  font-style: italic;
  text-align: right;
}