/* App Wrapper */
.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-content {
  flex: 1;
}


/* Responsive Design */
@media (max-width: 768px) {
  .app-container {
    padding: 10px;
  }

  header {
    font-size: 18px;
    padding: 15px;
  }

  .new-project,
  .search {
    padding: 15px;
  }

  .project-card .thumbnail {
    width: 75px;
  }
}